      <!-- PAGE HEADER -->
      <div class="page-header">
        <h1>Submit Payment</h1>
      </div>
      <!-- =================================================================== -->
      <!-- FORM ============================================================== -->
      <!-- =================================================================== -->
      <!-- pass in the variable if our form is valid or invalid -->
      <form name="userForm" ng-submit="submitForm(userForm)" novalidate="">
        
        <!-- NAME ON CARD-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && userForm.submitted }">
          <label>Name On Card</label>
          <input type="text" name="name" class="form-control" ng-model="user.name" required="" placeholder="name on card"/>
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">name on card is required.</p>
          <p ng-show="userForm.name.$error.required && userForm.submitted" class="help-block">must fill value</p>
        </div> 
        
        <!-- CARD NUMBER -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.cardnumber.$invalid && userForm.submitted }" >
          <label>Card Number</label>
          <input type="text" name="cardnumber" required=""  class="form-control" ng-model="user.cardnumber"  placeholder="8 digit card number" ng-pattern="/^\d{8}$/"/>
          <p ng-show="userForm.cardnumber.$error.pattern" class="help-block">card number must be 8 digits.</p>
          <p ng-show="userForm.cardnumber.$error.required && userForm.submitted" class="help-block">must fill value</p>
        </div>
        
        <!-- EXP DATE -->
        <div class="form-group"   ng-class="{ 'has-error' : userForm.expdate.$invalid && userForm.submitted }">
          <label>Exp. Date</label>
          <input type="text" name="expdate"  class="form-control" ng-model="user.expdate"  required="" placeholder="exp. date- yyyy/MM" ng-pattern=/^\d{4}[\/](0?[1-9]|1[012])$/ />
          <p ng-show="userForm.expdate.$invalid && !userForm.expdate.$pristine" class="help-block">Enter a valid expdate.</p>
          <p ng-show="userForm.expdate.$error.required && userForm.submitted" class="help-block">must fill value</p>
        </div>
        
        <!-- CVV -->
        <div class="form-group  has-feedback"  ng-class="{ 'has-error' : userForm.CVV.$invalid && userForm.submitted,'has-success' : userForm.CVV.$valid}">

           <label>CVV</label>
           <input type="text" name="CVV" class="form-control" ng-model="user.CVV"  required="" placeholder="CVV" ng-pattern=/^[4|5](.+)?$/ />
           <span  ng-class="{ 'glyphicon-ok':user.CVV.substr(0,1)==4, 'glyphicon-home':user.CVV.substr(0,1)==5}"    class="glyphicon form-control-feedback"  ng-show="userForm.CVV.$valid && !userForm.CVV.$pristine"  aria-hidden="true"></span>


           <p ng-show="userForm.CVV.$error.pattern && !userForm.CVV.$pristine" class="help-block">CVV must start with 4 or 5</p>
           <p ng-show="userForm.CVV.$error.required && userForm.submitted" class="help-block">must fill value</p>


        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>